################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Course Prerequsites WPF/.vs/Course Prerequsites WPF/v15/Server/sqlite3/db.lock
